/* start popup button */
.popup button {
  width: 100%;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #fbc02d;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* end popup button */
/* start buttons */
.subscribe-btn,
.cancel-btn {
  background: linear-gradient(90deg, #ffa726, #fb8c00);
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(251, 140, 0, 0.4);
}

.subscribe-btn {
  background-color: #fbc02d;
  color: #000;
}

.subscribe-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #fb8c00, #ffa726);
  box-shadow: 0 6px 14px rgba(251, 140, 0, 0.6);
}

.cancel-btn {
  background-color: #ddd;
  color: #444;
}

.cancel-btn:hover {
  background-color: #bbb;
}

/* end buttons */
/* start confirm button */
.confirm button {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* end confirm button */
